@model ScienceNewsBlog.Data.Models.Article

<div class="col">
    <div class="card" style="width: 18rem; height: 600px;">
        <img src="@Model.PhotoUrl" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text text-muted">
                @Model.CreatedDate
            </p>
            <p class="card-text">
                @Html.Raw(Model.Content.Length > 100 ? (Model.Content.Substring(0, 100)) + "..." : Model.Content)
            </p>

            <div class="mt-auto">
                <a asp-action="Article" asp-route-id="@Model.Id" class="btn btn-primary">Read more</a>
                @if (this.User.IsInRole("admin"))
                {
                    <a class="btn btn-outline-primary" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

                    <a onclick="getArticleToDelete('@Model.Id', '@Model.Title')" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id" data-toggle="modal" data-target="#exampleModal">Delete</a>

                }
            </div>
        </div>
    </div>
    <br />
</div>